/* .stats-container {
  max-width: 600px;
  margin: 0 auto;
}

.stats-container h2 {
  color: #00ffff;
  margin-bottom: 1rem;
}

.stat-card {
  background-color: #121212;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
}

.stat-card h3 {
  margin: 0;
  color: #f5f5f5;
}

.stat-card p {
  font-weight: bold;
  color: #00ffff;
  font-size: 1.2rem;
} */






.settings-container {
  max-width: 600px;
  margin: 0 auto;
}

.settings-container h2 {
  color: #00ffff;
  margin-bottom: 1rem;
}

.setting-item {
  background-color: #121212;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-item label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f5f5f5;
}

.setting-item button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #00ffff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
